/* You can add global styles to this file, and also import other style files */

footer {
    color: white;
    background-color: darkcyan;
    position: fixed;
    text-align: center;
    bottom: 10px;
    width: 100%;
}